@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Offside&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

:root {
    --purpl:hsl(257, 40%, 49%);
    --manga:hsl(300, 69%, 71%);
}
@theme{
    ---font-Poppins: "Poppins";
    ---font-Sans: "Open Sans";
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Poppins' ;
}
button{
    padding: 0.5em 4em;
    background-color: white;
    margin: auto;
    font-weight:100;
    font-size: large;
    border-radius: 2em;
    color: rgb(79, 78, 78);
    border: 1px solid rgba(0, 0, 0, 0.556);
}
    button:hover{
        background-color: var(--manga);
        color: white;
        transition-duration: 0.2s;
        border: 1px solid black;
    }
    button:hover{
        background-color: var(--manga);
        color: white;
        transition-duration: 0.2s;
        border: 1px solid rgba(0, 0, 0, 0.521);
    }

body{
    font-family: 'Open Sans',ital;
    background-color: hsl(257, 40%, 49%);;
}

/* Mobile */
@media screen and (min-width:10em) {
    body{
        background-image: url(../images/bg-mobile.svg);
        background-position: top;
        /* background-position: top; */
        background-repeat: no-repeat;
        padding-left: 8%;
        padding-right: 8%;
}
}
.icon{
    color: white;
    padding: 0.5em 1em;
    border: 1px solid white;
    border-radius: 100%;
    gap:1em;
    text-align: start;
}
.icon:hover{
   border:1px solid rgba(255, 255, 255, 0.48);
    color: rgba(255, 255, 255, 0.48);
    transition-duration: 0.2s;
}

/* Desktop */
@media screen and (min-width:30em) {
    body{
    background-image: url(../images/bg-desktop.svg);
        background-position-y: -10em;
        padding-left: 5%;
    }
 
}

